<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/estilos.css">
    <title>Quienes Somos</title>
</head>
<body>

    <div class="grid">
        <header class="header">
            <div class="header__logo">
                <a href="../index.html"><img src="../assets/logo.png" alt="aca va el logo"></a>
    
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item"><a href="../index.html">INICIO</a></li>
                    <li class="header__item"><a href="cafes.html">CAFES</a></li>
                    <li class="header__item"><a href="promociones.html">PROMOCIONES</a></li>
                    <li class="header__item"><a href="videos.html">VIDEOS</a></li>
                    <li class="header__item"><a href="quienes.html">QUIENES SOMOS</a></li>
                    <li class="header__item"><a href="contactanos.html">CONTACTANOS</a></li>
                </ul>
            </nav>
        </header>
        
        
        
        <main class="main">
            <h1 class="main__titulo">QUIENES SOMOS</h1>
            <p class=main__parrafo>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, accusantium ipsa, recusandae voluptatem sequi quibusdam a voluptates nemo nihil commodi voluptate eius omnis ea reprehenderit, maxime iure. Corrupti, ex quos?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione mollitia placeat praesentium sed ullam fuga expedita, ducimus pariatur velit, nostrum modi. Perspiciatis sit possimus excepturi ratione explicabo in quam at.
                Facilis debitis cupiditate architecto, repellat impedit pariatur magni odit rerum aspernatur repellendus illo enim. Iste ducimus magni rem aut beatae voluptate, illum nesciunt iure sapiente deleniti quisquam temporibus? Debitis, fugit?
                Distinctio sint dolorem ad nisi deserunt nobis voluptatum ducimus perferendis laudantium eos! Enim facere laborum eaque, dignissimos eligendi voluptatem doloremque! Quas, atque! Eaque, illum ut incidunt fugiat deserunt dicta consequuntur.
                
            </p>
            <p class=main__parrafo>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, accusantium ipsa, recusandae voluptatem sequi quibusdam
                a voluptates nemo nihil commodi voluptate eius omnis ea reprehenderit, maxime iure. Corrupti, ex quos?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione mollitia placeat praesentium sed ullam fuga
                expedita, ducimus pariatur velit, nostrum modi. Perspiciatis sit possimus excepturi ratione explicabo in quam at.
                Facilis debitis cupiditate architecto, repellat impedit pariatur magni odit rerum aspernatur repellendus illo enim.
                Iste ducimus magni rem aut beatae voluptate, illum nesciunt iure sapiente deleniti quisquam temporibus? Debitis,
                fugit?
                Distinctio sint dolorem ad nisi deserunt nobis voluptatum ducimus perferendis laudantium eos! Enim facere laborum
                eaque, dignissimos eligendi voluptatem doloremque! Quas, atque! Eaque, illum ut incidunt fugiat deserunt dicta
                consequuntur.
            </p>
            
        </main>
    
        <footer class="footer">
    
            <div class="footer__redes">
                <img src="../assets/icon_html5.png" alt="icon_html">
                <img src="../assets/icon_whatsapp.png" alt="icon_wts">
                <img src="../assets/icon_instagram.png" alt="icon_inst">
            </div>
    
            <a>©Mi-Pagina 2022-Ꝏ</a>
            <span><b>DERECHOS RESERVADOS MI-PAGINA</b></span>
            <a href="quienes.html">QUIENES SOMOS</a>
        </footer>

    </div>



</body>
</html>