<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/estilos.css">
    <title>Videos</title>
</head>
<body>

    <div class="grid">


        <header class="header">
            <div class="header__logo">
                <a href="../index.html"><img src="../assets/logo.png" alt="aca va el logo"></a>
    
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item"><a href="../index.html">INICIO</a></li>
                    <li class="header__item"><a href="cafes.html">CAFES</a></li>
                    <li class="header__item"><a href="promociones.html">PROMOCIONES</a></li>
                    <li class="header__item"><a href="videos.html">VIDEOS</a></li>
                    <li class="header__item"><a href="quienes.html">QUIENES SOMOS</a></li>
                    <li class="header__item"><a href="contactanos.html">CONTACTANOS</a></li>
                </ul>
            </nav>
        </header>
    
        <main class="main">
    
            <h1 class="main__titulo">VIDEOS</h1>
            <p class="main__parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, laborum totam ex assumenda itaque blanditiis fugiat in possimus, eaque dicta et omnis labore minus quasi necessitatibus autem nisi accusamus sit.</p>
            
            <div class="main__galeria">
                
                <div class="main__video">
                    <h2 class="main__subtitulo">
                        Video 1
                    </h2>
                    <br>
                    <iframe width="560" height="315"src="https://www.youtube.com/embed/2v5iWf2KDCw" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
        
                <div class="main__video">
                    <h2 class="main__subtitulo">
                        Video 2
                    </h2>
                    <br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MYPVQccHhAQ" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
        
                <div class="main__video">
                    <h2 class="main__subtitulo">
                        Video 3
                    </h2>
                    <br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SORD03t7nlo" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                    </iframe>
                </div>
            </div>
    
    
        </main>
        
    
    
        <footer class="footer">
            
            <div>
                <img src="../assets/icon_html5.png" alt="icon_html">
                <img src="../assets/icon_whatsapp.png" alt="icon_wts">
                <img src="../assets/icon_instagram.png" alt="icon_inst">
            </div>
    
            <a>©Mi-Pagina 2022-Ꝏ</a>
            <span><b>DERECHOS RESERVADOS MI-PAGINA</b></span>
            <a href="quienes.html">QUIENES SOMOS</a>
        </footer>

    </div>
    
</body>
</html>